<template lang="pug">
  .h-full.text-gray-600
    .wallpaper
    header.flex.justify-center.w-full.absolute.top-8
      .mx-auto.flex.flex-wrap.p-3.flex-col.items-center(class='md:flex-row')
        a.flex.title-font.font-medium.items-center.text-gray-900.mb-4(class='md:mb-0')
          img.mx-aw-5.h-5(class="md:w-10 md:h-10" src='../assets/logo.svg' alt='map with marker')
          span.ml-3.text-sm(class='md:text-xl') RideCo
    .bg-gray-100.bg-opacity-40.flex.flex-col.items-center.h-full
      .tracking-wider.self-center.m-96.text-center
        p.text-xl.uppercase.font-bold 404 error
        h1.text-6xl.font-extrabold.text-white.font-sans Uh oh! We think you're lost.
        p.py-3 It looks like the page you're looking for doesn't exist.
        .flex.justify-center
          router-link.mt-3.px-6.p-3.rounded.bg-gray-300.text-black(to='/') Ride back home

</template>

<script>
export default {
  name: "Error"
}
</script>

<style scoped>
  .wallpaper {
    background: url(https://source.unsplash.com/AJ34jnrB52A/2400x1920) no-repeat center center;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
</style>