<template lang="pug">
  div.root
    header.flex.justify-center.w-full.absolute.text-gray-200.top-8.z-20(class='md:text-gray-600')
      .mx-auto.flex.flex-wrap.p-3.flex-col.items-center.bg-white.bg-opacity-70(class='md:flex-row')
        a.flex.title-font.font-medium.items-center.text-gray-900.mb-4(class='md:mb-0')
          img.w-5.h-5(class='md:w-10 md:h-10' src='../assets/logo.svg' alt='map with marker')
          span.ml-3.text-sm(class='md:text-xl') RideCo POI
        form#form.mx-3
          .form-group
            label.sr-only(for='q') City, State, Postal Code
            input#q.w-full.bg-white.rounded.border.border-gray-300.text-sm.outline-none.text-gray-700.py-1.px-3.leading-4.transition-colors.duration-200.ease-in-out(class='focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 md:text-base md:leading-8' placeholder='City, State, Postal Code' type='text')

    //- OSM
    div#map-canvas.min-h-full.z-10(ref="mapCanvas")
    .absolute.w-max.h-max.inset-0.ml-3.py-4.z-20(class="top-1/6 md:top-80", style="height: max-content;")
      ul.menu.w-16.py-3.shadow-lg.bg-base-100.rounded-box
        li
          a(@click="$emit('collectionsmodal')")
            bookmark-icon.h-6.w-6(class='group-hover:text-indigo-400')
        li
          a(@click="$emit('markersmodal')")
            map-pin-icon.inline-block.w-6.h-6.stroke-current
        li
          a(@click="$emit('authmodal')")
            user-icon.h-6.w-6(class='group-hover:text-indigo-400')

    auth-modal
    collections(:collections="[]")
    markers-modal(:markers="[]")

</template>

<script lang="ts">
import * as L from "leaflet";
import { Component, Prop, Vue } from "vue-property-decorator";
import { MapPinIcon, BookmarkIcon, UserIcon } from 'vue-feather-icons';
import AuthModal from "@/components/AuthModal.vue";
import MarkersModal from "@/components/MarkersModal.vue";
import Collections from "@/components/Collections.vue";

// delete L.Icon.Default.prototype._getIconUrl;

L.Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
});

@Component({
  components: {
    MapPinIcon, BookmarkIcon, UserIcon,
    AuthModal, MarkersModal, Collections
  }
})
export default class MapView extends Vue {
  @Prop({default: 51.505}) readonly lon?: number;
  @Prop({default: -0.09}) readonly lat?: number;
  @Prop({default: 13}) readonly zoom?: number;

  private readonly defaultLatLng: L.LatLngTuple = [51.5, -0.09];
  private readonly defaultZoomLevel: number = 13;
  private readonly layerUrl: string = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  private readonly layerAttribution: string = `&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors`
  private readonly mapIDSelector = 'map-canvas'

  private map?: L.Map | undefined;
  private userLatLng: L.LatLngTuple | undefined;
  private mapMarkers: Array<L.Marker> | undefined;
  showAuthModal = false
  showCollectionsModal = false
  showMarkerModal = false

  get modalOpened() {return this.showAuthModal || this.showCollectionsModal || this.showMarkerModal}
  set modalOpened(value) {this.showAuthModal = this.showCollectionsModal = this.showMarkerModal = value }

  beforeCreate(this: any) {console.log(this, "beforeCreate")}
  created(this: any) {console.log(this, "created")}
  beforeMount(this: any) {console.log(this, "mounted")}
  mounted(this: any) {
    console.log(this)
    let mapCanvas = this.$refs.mapCanvas || this.mapIDSelector
    this.map = this.createMap(mapCanvas)
    this.setupEventHandlers(this.map)
  }
  beforeUpdate(this: any) {console.log(this, "beforeUpdate")}
  updated(this: any) {console.log(this, "updated")}
  beforeDestroy(this: any) {
    console.log(this, "beforeDestroy")
  }
  destroyed(this: any) {console.log(this, "destroyed")}
  activated(this: any) {console.log(this, "activated")}
  deactivated(this: any) {console.log(this, "deactivated")}
  errorCaptured(this: any) {console.log(this, "errorCaptured")}


  createMap(mapCanvas: string| HTMLElement) {
    console.info("Creating map in", mapCanvas)
    let map = L.map(mapCanvas, {zoomControl: false}).locate();
    L.tileLayer(this.layerUrl, {attribution: this.layerAttribution}).addTo(map);
    L.control.zoom({position: 'bottomright'}).addTo(map)

    let markerPopupHtml = 'A pretty CSS3 popup.<br> Easily customizable.'
    let marker = this.addMarker(map, [51.5, -0.09], markerPopupHtml, true, true)
    return map
  }
  addMarker(map: L.Map, latlng: L.LatLngTuple, popupHtml: string, placeOnMap: boolean, openPopup: boolean) {
    let marker = L.marker(latlng)
    if (placeOnMap) marker.addTo(map)
    if (popupHtml) marker.bindPopup(popupHtml);
    if (openPopup) marker.openPopup();
    return marker
  }
  setupEventHandlers(this:any) {
    this.map.on('locationfound', (data: L.LocationEvent) => {
      this.userLatLng = [data.latlng.lat, data.latlng.lng];
      console.log("Using device geolcation data: ", this.userLatLng)
      this.map.setView(this.userLatLng, this.defaultZoomLevel)
    })
    this.map.on('locationerror', (e: L.ErrorEvent) => {
      this.$axios.get('http://ip-api.com/json').then((data: any) => {
        console.log(1111,this, data,2222)
        this.userLatLng = [data.data.lat, data.data.lon];
        console.log("Using location data from IP API:", this.userLatLng)
        this.map.setView(this.userLatLng, this.defaultZoomLevel)
      }).catch(() => {
        console.log("Using default location:", this.defaultLatLng)
        this.map.setView(this.defaultLatLng, this.defaultZoomLevel)
      })
    })
    this.map.on('contextmenu', (ev: L.LeafletMouseEvent) => {
      console.log("Double clicked: ", ev)
    })
  }
}
</script>

<style src="leaflet/dist/leaflet.css"></style>
