<template lang="pug">
  div.root
    header.flex.justify-center.w-full.absolute.text-gray-200.top-8.z-20(class='md:text-gray-600')
      .mx-auto.flex.flex-wrap.p-3.flex-col.items-center.bg-white.bg-opacity-70(class='md:flex-row')
        a.flex.title-font.font-medium.items-center.text-gray-900.mb-4(class='md:mb-0')
          img.w-5.h-5(class='md:w-10 md:h-10' src='../assets/logo.svg' alt='map with marker')
          span.ml-3.text-sm(class='md:text-xl') RideCo POI
        form#form.mx-3
          .form-group
            label.sr-only(for='q') City, State, Postal Code
            input#q.w-full.bg-white.rounded.border.border-gray-300.text-sm.outline-none.text-gray-700.py-1.px-3.leading-4.transition-colors.duration-200.ease-in-out(class='focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 md:text-base md:leading-8' placeholder='City, State, Postal Code' type='text')

    //- OSM
    div#map-canvas.min-h-full.z-10(ref="mapCanvas")
    .absolute.w-max.h-max.inset-0.ml-3.py-4.z-20.top-auto(style="height: max-content;")
      ul.menu.w-16.py-3.shadow-lg.bg-base-100.rounded-box
        li
          a(@click="$emit('quickmarkersmodal')")
            map-pin-icon.inline-block.w-6.h-6.stroke-current


    .modal.modal-open(v-if="markerShare" )
      form.modal-box(@submit.prevent="shareMarkers")
        h1.text-xl.mb-3 Share Markers
        div.form-control
          label.label
            span.label-text Name
          input.input.input-bordered(type='text' required placeholder='Collection Name', v-model="newCollectionLabel" :disabled="!!newCollectionURL")
        div.form-control
          label.label
            span.label-text Description
          textarea.textarea.textarea-bordered.h-24(placeholder='Description' v-model="newCollectionDesc" :disabled="!!newCollectionURL")
        div.form-control.mt-6(v-if="newCollectionURL" )
          label.label
            span.label-text Share this URL
          .relative
            //input.input.input-bordered.w-full.pr-16(ref="collectionURL" :value="newCollectionURL" :disabled="newCollectionURL")
            div.input.input-bordered.w-full.py-2.pr-16.overflow-x-auto.bg-neutral(ref="collectionURL") {{newCollectionURL}}
            button.absolute.top-0.right-0.rounded-l-none.btn.btn-primary(@click.prevent="copyLink")
              clipboard-icon
        .modal-action
          button.btn(type="button" @click="markerShare=false;newCollectionURL=''") Cancel
          button.btn(type="submit" :disabled="!!newCollectionURL") Share
    quick-markers-modal
    marker-create-modal(:newMarkerEvent="newMarkerEvent" :map="map")

</template>

<script lang="ts">
import * as L from "leaflet";
import {Component, Prop, Vue} from "vue-property-decorator";
import {BookmarkIcon, ClipboardIcon, MapPinIcon, UserIcon, CheckCircleIcon } from 'vue-feather-icons';
import QuickMarkersModal from "@/components/QuickMarkersModal.vue";
import MarkerCreateModal from "@/components/MarkerCreateModal.vue";

// Fix leaflet markers not showing
let f:any=L.Icon.Default.prototype;delete f._getIconUrl;
L.Icon.Default.mergeOptions({
  iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
  iconUrl: require('leaflet/dist/images/marker-icon.png'),
  shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
});

@Component({
  components: {
    MapPinIcon, BookmarkIcon, UserIcon, ClipboardIcon, CheckCircleIcon,
    QuickMarkersModal, MarkerCreateModal
  }
})
export default class Quickie extends Vue {
  @Prop({default: 51.505}) readonly lon?: number;
  @Prop({default: -0.09}) readonly lat?: number;
  @Prop({default: 13}) readonly zoom?: number;

  private readonly defaultLatLng: L.LatLngTuple = [51.5, -0.09];
  private readonly defaultZoomLevel: number = 13;
  private readonly layerUrl: string = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  private readonly layerAttribution: string = `&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors`
  private readonly mapIDSelector = 'map-canvas'

  private map?: L.Map | null = null;
  private userLatLng: L.LatLngTuple | null = null;
  private mapMarkers: Array<L.Marker> | null = [];
  private newMarkerEvent: L.LeafletMouseEvent | null = null;

  private markerShare = false
  private newCollectionLabel = ""
  private newCollectionDesc = ""
  private newCollectionURL = ""

  mounted(this: any) {
    console.log(this)
    this.loadMarkers()
    let mapCanvas = this.$refs.mapCanvas || this.mapIDSelector
    this.map = this.createMap(mapCanvas)
    this.setupEventHandlers(this.map)
  }


  createMap(mapCanvas: string| HTMLElement) {
    console.info("Creating map in", mapCanvas)
    let map = L.map(mapCanvas, {zoomControl: false}).locate();
    L.tileLayer(this.layerUrl, {attribution: this.layerAttribution}).addTo(map);
    L.control.zoom({position: 'bottomright'}).addTo(map)
    return map
  }
  addMarker(map: L.Map, latlng: L.LatLngTuple, pophtml: string) {
    return L.marker(latlng).addTo(map).bindPopup(pophtml).openPopup()
  }
  copyLink(this: any) {
    console.log("copylink")
    // this.$refs.collectionURL.select();
    // document.execCommand('copy');
    navigator.clipboard.writeText(this.newCollectionURL)
  }
  loadMarkers(this:any) {
    console.log(this.$route)
    if (this.$route.path.startsWith('/shares') && this.$route.params.markersData){
        console.log(this.$route.params.markersData)
      const collectionUID = this.$route.params.markersData
      this.$api.get(`/public/${collectionUID}`).then((r:any) => {
        let data = r.data;
        data.markers.forEach((m: any) => {
          let pophtml = `<div><h1>${m.label}</h1><p>${m.description}</p></div>`
          let marker = L.marker([m.latitude, m.longitude]).bindPopup(pophtml)
          marker.addTo(this.map).openPopup()
          this.mapMarkers?.push(marker)
          this.$store.commit('addMarker', m)
        })
      }).catch((e: any) => {
        console.log("API Error", e)
        let errMessage = 'Failed to load marker collection'
        let data = e.response.data
        if (data.message) {
          errMessage = `${errMessage}: ${data.message}`
        }
        alert(errMessage)
      })
    }
  }
  shareMarkers(this: any) {
    this.$api.post(`/public`, {
      name: this.newCollectionLabel,
      description: this.newCollectionDesc,
      markers: JSON.stringify(this.$store.state.markers),
    }).then((r:any) => {
      let data = r.data;
      console.log("Create collection: ", data)
      this.newCollectionURL = `${window.location.host}/shares/${data.uid}`
    }).catch((e: any) => {
      console.log("API Error", e)
      let errMessage = 'Failed to create marker collection'
      let data = e.response.data
      if (data.message) {
        errMessage = `${errMessage}: ${data.message}`
      }
      alert(errMessage)
    })
  }
  setupEventHandlers(this:any) {
    this.map.on('locationfound', (data: L.LocationEvent) => {
      this.userLatLng = [data.latlng.lat, data.latlng.lng];
      console.log("Using device geolcation data: ", this.userLatLng)
      this.map.setView(this.userLatLng, this.defaultZoomLevel)
    })
    this.map.on('locationerror', (e: L.ErrorEvent) => {
      this.$axios.get('http://ip-api.com/json').then((data: any) => {
        console.log(1111,this, data,2222)
        this.userLatLng = [data.data.lat, data.data.lon];
        console.log("Using location data from IP API:", this.userLatLng)
        this.map.setView(this.userLatLng, this.defaultZoomLevel)
      }).catch(() => {
        console.log("Using default location:", this.defaultLatLng)
        this.map.setView(this.defaultLatLng, this.defaultZoomLevel)
      })
    })
    this.map.on('click', (ev: L.LeafletMouseEvent) => {
      console.log("Clicked: ", ev)
      this.newMarkerEvent = ev
    })
  }
}
</script>

<style src="leaflet/dist/leaflet.css"></style>
