<template lang="pug">
  .modal(ref="authModal" :class="{'modal-open': modalOpened}" v-if="modalOpened")
    .modal-box.bg-white

      .flex.items-center.justify-center.py-12.px-4(class='sm:px-6 lg:px-8')
        .avatar.placeholder(v-if="isLoggedIn" )
          .bg-neutral-focus.text-neutral-content.rounded-full.w-32.h-32
            span.text-3xl {{ $store.state.ridecoCurrentUser.firstName[0].toUpper() }}
          div
            h2.mt-6.text-center.text-3xl.font-extrabold.text-gray-900
              | {{$store.state.ridecoCurrentUser.firstName}} {{$store.state.ridecoCurrentUser.lastName}}
        .max-w-md.w-full.space-y-8(v-else)
          div
            img.mx-auto.h-16.w-auto(src='../assets/logo.svg' alt='map with marker')
            h2.mt-6.text-center.text-3xl.font-extrabold.text-gray-900
              template(v-if="toLogin") Welcome back!
              template(v-else) Ride with us!
          form.mt-8.space-y-6(@submit.prevent="doAuth" method='POST')
            .alert.alert-error(v-if="authMessage")
              .flex-1
              info-icon.w-6.h-6.mx-2.stroke-current
              //svg.w-6.h-6.mx-2.stroke-current(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636')
              label(v-text="authMessage" )

            .rounded-md.shadow-sm.-space-y-px
              div(v-if="!toLogin")
                label.sr-only(for='name') Name
                input#name.appearance-none.rounded-none.relative.block.w-full.px-3.py-2.border.border-gray-300.placeholder-gray-500.text-gray-900.rounded-t-md(v-model="name" type="text" autocomplete='name' required='' class='focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm' placeholder='Name')
              div
                label.sr-only(for='username') Username
                input#username.appearance-none.rounded-none.relative.block.w-full.px-3.py-2.border.border-gray-300.placeholder-gray-500.text-gray-900.rounded-t-md(v-model="username" type='text' autocomplete='username' required='' class='focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm' placeholder='Username')
              div
                label.sr-only(for='password') Password
                input#password.appearance-none.rounded-none.relative.block.w-full.px-3.py-2.border.border-gray-300.placeholder-gray-500.text-gray-900.rounded-b-md(v-model="password" type='password' autocomplete='current-password' required='' class='focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm' placeholder='Password')
            .flex.items-center.justify-between
              .text-sm
                  a.font-medium.text-indigo-600(href='#' class='hover:text-indigo-500' @click.stop="toLogin=!toLogin")
                    template(v-if="toLogin") Register an account
                    template(v-else) Have an account? Sign in
            div
              button.group.relative.w-full.flex.justify-center.py-2.px-4.border.border-transparent.text-sm.font-medium.rounded-md.text-white.bg-indigo-600(type='submit' class='hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500')
                span.absolute.left-0.inset-y-0.flex.items-center.pl-3
                  lock-icon.h-5.w-5.text-indigo-500(class='group-hover:text-indigo-400')
                template(v-if="toLogin") Sign in
                template(v-else) Register
      .modal-action
        a.btn(href="#" @click.prevent="modalOpened = false") Close

</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import { LockIcon, InfoIcon } from 'vue-feather-icons'

@Component({
  components: {
    LockIcon, InfoIcon
  }
})
export default class AuthModal extends Vue {
  private toLogin = true
  private modalOpened = false

  private name = ""
  private username = ""
  private password = ""

  private authMessage = ""

  get isLoggedIn() {return Boolean(this.$store.getters.authToken)}

  doAuth(this: any) {
    if (this.toLogin) {
      this.loginUser(this.username, this.password)
    } else {
      let [firstName, lastName] = this.name.split(' ')
      this.registerUser(firstName, lastName, this.username, this.password)
    }
  }

  loginUser(username: string, password: string) {
    let defaultErrLoginMsg = "We cannot login you in at this time. Try again later."
    this.$api.get('/auth/login', {
      auth: {
        username: username,
        password: password
      }
    }).then((r) => {
      let data = r.data;
      this.$store.commit('setCurrentUser', {
        id: data.id,
        firstName: data.first_name,
        lastName: data.last_name,
        username: data.login_username,
        auth: {
          token: data.token,
          tokenExpiresIn: data.expires_in,
        }
      })
      this.name = this.username = this.password = ""
    }).catch((e) => {
      console.log("API Error", e)
      let data = e.response.data
      if (data.message) {
        this.authMessage = data.message
      } else {
        this.authMessage = defaultErrLoginMsg;
      }
    })
  }
  registerUser(firstName: string, lastName: string, username: string, password: string) {
    let defaultErrLoginMsg = "We cannot register you at this time. Try again later."
    this.$api.post('/users', {
      first_name: firstName,
      last_name: lastName,
      login_username: username,
      login_password: password
    }).then((r) => {
      let data = r.data;
      this.name = this.username = this.password = ""
      this.modalOpened = false
    }).catch((e) => {
      console.log("API Error", e)
      let data = e.response.data
      if (data.message) {
        this.authMessage = data.message
      } else {
        this.authMessage = defaultErrLoginMsg;
      }
    })
  }

  created(this: any) {
    this.$parent.$on('authmodal', () => this.modalOpened=true)
  }
}
</script>

<style scoped>

</style>