<template lang="pug">
  .modal(ref="collectionsModal" :class="{'modal-open': modalOpened}" @collectionsmodal="modalOpened=true" v-if="modalOpened")
    .modal-box
      .menu
        .menu-title.text-lg.pb-4
          | Marker Collections
        .collapse.w-96.border.rounded-box.border-base-300.collapse-arrow.w-full.mb-4(v-for="(c, i) in collection_data", :key="`collections_${i}`")
          input(type='checkbox')
          .collapse-title.text-xl.font-medium {{ c.name }}
          .collapse-content
            p {{ c.description }}
            template(v-for="(m, k) in c.markers")
              p.badge.badge-outline.mt-3(:key="`markers_${k}`") {{ m.label || `${m.lat},${m.lng}`}}
            div.flex.justify-between
              .form-control
                label.cursor-pointer.label
                  span.label-text Protected &nbsp;
                  input.toggle(type='checkbox' :checked='c.is_protected')

              div.mt-2
                button.btn.btn-xs(@click="userSearchModal=true") Share with...
      .modal-action
        a.btn(href="#" @click.prevent="modalOpened = false") Close

    .modal(:class="{'modal-open': userSearchModal}")
      .modal-box
        h2.mb-3 Share Collection
        form.form-control(@submit.prevent="findUser()")
          input.input.input-bordered(type='text' placeholder='Find username', v-model="findUsername")
        template(v-for="(user, k) in shareWith")
          p.badge.badge-outline.mt-3(:key="`shareWith_${k}`") {{ user.login_username }}
        .modal-action
          a.btn(href="#" @click="userSearchModal = !userSearchModal") Cancel
          a.btn(href="#" @click="shareCollectionWithUsers") Share

</template>

<script lang="ts">
import * as L from "leaflet";
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Collections extends Vue {
  @Prop() readonly collections: Array<Array<L.Marker | undefined>>;

  private modalOpened = false
  userSearchModal = false
  shareWith: Array<any> = []
  findUsername = ""
  findUser() {
    this.shareWith.push({
      id: 2,
      login_username: this.findUsername,
      first_name: "Stol",
      last_name: "Nik",
    })
    this.findUsername = ""
  }
  shareCollectionWithUsers() {
    this.userSearchModal = false
  }

  collection_data = [
      {
        uid: "2edec77e633747d098f3c6bd1ca526a3",
        name: "Paris Collection",
        is_protected: false,
        description: "Collapse content reveals with focus. If you add a checkbox, you can control it using checkbox instead of focus. Or you can force-open/force-close using",
        markers: [],
        shared_with: [
          {
            id: 2,
            login_username: "stol",
            first_name: "Stol",
            last_name: "Nik",
          }
        ]
      },
      {
        uid: "dd8911e2ea0c452d972175ac9ef7a42c",
        name: "London Collection",
        is_protected: true,
        description: "Collapse content reveals with focus. If you add a checkbox, you can control it using checkbox instead of focus. Or you can force-open/force-close using",
        markers: [
          {
            id: 1,
            label: "Greenwich",
            latitude: 59.52,
            longitude: 0.95,
          }
        ],
        shared_with: [
          {
            id: 2,
            login_username: "stol",
            first_name: "Stol",
            last_name: "Nik",
          }
        ]
      },
  ]

  created(this: any) {
    this.$parent.$on('collectionsmodal', () => this.modalOpened=true)
  }
}
</script>

<style scoped>

</style>