<template lang="pug">
  div#map-canvas(ref="mapCanvas")
</template>

<script lang="ts">
import * as L from "leaflet";

import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Map extends Vue {
  @Prop({default: 51.505}) readonly lon?: number;
  @Prop({default: -0.09}) readonly lat?: number;
  @Prop({default: 13}) readonly zoom?: number;

  private readonly defaultLatLng = [51.5, -0.09];
  private readonly defaultZoomLevel = 13;
  private readonly layerUrl: string = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  private readonly layerAttribution: string = `&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors`
  private readonly mapIDSelector = 'map-canvas'

  private map = null
  private userLatLng = []

  beforeMount(this: any) {
    console.log(this)
    let mapCanvas = this.$refs.mapCanvas || this.mapIDSelector
    this.map = this.createMap(mapCanvas)
    this.setupEventHandlers(this.map)
  }
  mounted(this: any) {
    console.log(this, "mounted")
  }
  created(this: any) {
    console.log(this, "created")
  }
  beforeCreate(this: any) {
    console.log(this, "beforeCreate")
  }

  createMap(mapCanvas: string| HTMLElement) {
    console.info("Creating map in", mapCanvas)
    let map = L.map(mapCanvas, {zoomControl: false}).locate();
    L.tileLayer(this.layerUrl, {attribution: this.layerAttribution}).addTo(map);
    L.control.zoom({position: 'bottomright'}).addTo(map)

    let markerPopupHtml = 'A pretty CSS3 popup.<br> Easily customizable.'
    let marker = this.addMarker(map, [51.5, -0.09], markerPopupHtml, true, false)
    return map
  }
  addMarker(map: any, latlng: L.LatLngTuple, popupHtml: string, placeOnMap: boolean, openPopup: boolean) {
    let marker = L.marker(latlng)
    if (placeOnMap) marker.addTo(map)
    if (popupHtml) marker.bindPopup(popupHtml);
    if (openPopup) marker.openPopup();
    return marker
  }
  setupEventHandlers(this:any, map: any, defaultLatLng: L.LatLngTuple, defaultZoomLevel: number) {
    map.on('locationfound', (data: L.LocationEvent) => {
      let userLatLng = [data.latlng.lat, data.latlng.lng];
      console.log("Using device geolcation data: ", defaultLatLng)
      map.setView(userLatLng, defaultZoomLevel)
    })
    map.on('locationerror', (e: L.ErrorEvent) => {
      this.axios.get('http://ip-api.com/json').then((data: any) => {
        let userLatLng = [data.data.lat, data.data.lon];
        console.log("Using location data from IP API:", defaultLatLng)
        map.setView(userLatLng, defaultZoomLevel)
      }).catch(() => {
        console.log("Using default location:", defaultLatLng)
        map.setView(defaultLatLng, defaultZoomLevel)
      })
    })
  }
}
</script>

<style src="leaflet/dist/leaflet.css"></style>
