<template lang="pug">
  div
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class MapMarker extends Vue {
  @Prop() lon!: number
  @Prop() lat!: number
  @Prop() label!: string
}
</script>

<style scoped>

</style>