<template lang="pug">
  .modal.modal-open(v-if="newMarkerEvent" )
    form.modal-box(ref="form" @submit.prevent="addMarker")
      h1.text-xl.mb-3 Create Marker
      div.form-control
        label.label
          span.label-text Label
        input.input.input-bordered(type='text' placeholder='Marker Label', required v-model="newMarkerLabel")
      div.form-control
        label.label
          span.label-text Description
        textarea.textarea.textarea-bordered.h-24(placeholder='Description' v-model="newMarkerDesc" )

      p.badge.badge-outline.mt-3 Lat: {{ newMarkerEvent.latlng.lat }}
      p.badge.badge-outline.mt-3 Lng: {{ newMarkerEvent.latlng.lng }}
      .modal-action
        button.btn(type="button" @click="$parent.newMarkerEvent=null") Cancel
        button.btn(type="submit") Create
</template>

<script lang="ts">
import {Component, Prop, Vue} from "vue-property-decorator";
import * as L from "leaflet";

@Component
export default class MarkerCreateModal extends Vue {
  @Prop() newMarkerEvent?: L.LeafletMouseEvent;
  @Prop() readonly map?: L.Map;

  newMarkerLabel = ""
  newMarkerDesc = ""

  addMarker(this: any) {
    let popupHtml = `<div><h1>${this.newMarkerLabel}</h1><p>${this.newMarkerDesc}</p></div>`
    this.$store.commit('addMarker', {
      label: this.newMarkerLabel,
      description: this.newMarkerDesc,
      latitude: this.newMarkerEvent.latlng.lat,
      longitude: this.newMarkerEvent.latlng.lng,
    })
    let marker = L.marker(this.newMarkerEvent.latlng).addTo(this.map).bindPopup(popupHtml).openPopup()
    this.$parent.newMarkerEvent = null;
    this.newMarkerLabel = this.newMarkerDesc = ""
    return marker
  }
}
</script>

<style scoped>

</style>