<template lang="pug">
  .modal(ref="markersModal" :class="{'modal-open': modalOpened}" @markersmodal="modalOpened=true" v-if="modalOpened")
    .modal-box
      .menu
        .menu-title.text-lg.pb-4
          | Markers
        .collapse.w-96.border.rounded-box.border-base-300.w-full.mb-4(v-for="(m, i) in markers_data", :key="`markers_${i}`")
          input(type='checkbox')
          .collapse-title.text-xl.font-medium
            div.flex.justify-between.z-30
              span.mt-1 {{ m.label }}
              .form-control
                label.cursor-pointer.label
                  input.checkbox(type='checkbox' :value="m.id" v-model="shareMarkerIDs" :checked='shareMarkerIDs.includes(m.id)')
          .collapse-content
            p {{ m.description }}
            p.badge.badge-outline.mt-3 Lat: {{ m.latitude }}
            p.badge.badge-outline.mt-3.ml-3 Lng: {{ m.longitude }}
            //div.flex.justify-between
              .form-control
                label.cursor-pointer.label
                  span.label-text Protected &nbsp;
                  input.checkbox(type='checkbox' :checked='c.is_protected')

              div.mt-2
                button.btn.btn-xs(@click="userSearchModal=true") Share with...
      .modal-action
        a.btn(href="#" @click.prevent="modalOpened = false") Close

</template>

<script lang="ts">
import * as L from "leaflet";
import {Component, Prop, Vue} from "vue-property-decorator";

@Component
export default class MarkersModal extends Vue {
  @Prop() readonly markers: Array<L.Marker | undefined>;

  private modalOpened = false
  shareMarkerIDs = []

  markers_data = [
    {
      id: 1,
      label: "Greenwich",
      description: "Collapse content reveals with focus. If you add a checkbox, you can control it using checkbox instead of focus. Or you can force-open/force-close using",
      latitude: 59.52,
      longitude: 0.95,
    },
    {
      id: 2,
      label: "Oxford",
      description: "Collapse content reveals with focus. If you add a checkbox, you can control it using checkbox instead of focus. Or you can force-open/force-close using",
      latitude: 59.52,
      longitude: 0.95,
    },
  ]

  created(this: any) {
    this.$parent.$on('markersmodal', () => this.modalOpened=true)
  }
}
</script>

<style scoped>

</style>