<template lang="pug">
  .modal(ref="markersModal" :class="{'modal-open': modalOpened}" @markersmodal="modalOpened=true" v-if="modalOpened")
    .modal-box
      .menu
        .menu-title.text-2xl.pb-4
          | Markers
        template(v-if="$store.state.markers.length")
          .collapse.w-96.border.rounded-box.border-base-300.w-full.mb-4(
            v-for="(m, i) in $store.state.markers", :key="`markers_${i}`" @click="()=>$parent.map.flyTo([m.latitude, m.longitude], 15)")
            input(type='checkbox')
            .collapse-title.text-xl.font-medium
              div.flex.justify-between.z-30
                span.mt-1 {{ m.label }}
            .collapse-content
              p {{ m.description }}
              p.badge.badge-outline.mt-3 Lat: {{ m.latitude }}
              p.badge.badge-outline.mt-3.ml-3 Lng: {{ m.longitude }}
          div.flex.justify-end
            div.mt-2
              button.btn.btn-xs(@click="modalOpened=false;$parent.markerShare=true") Share markers...
        div.text-center(v-else)
          h1.text-lg No markers
      .modal-action
        a.btn(href="#" @click.prevent="modalOpened = false") Close

</template>

<script lang="ts">
import {Component, Prop, Vue} from "vue-property-decorator";

@Component
export default class QuickMarkersModal extends Vue {
  private modalOpened = false

  created(this: any) {
    console.log('quickmarkersmodal')
    this.$parent.$on('quickmarkersmodal', () => this.modalOpened=true)
  }
}
</script>

<style scoped>

</style>