<template lang="pug">
  div#app
      router-view

</template>

<style lang="postcss">
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  html,
  body,
  #app,
  .root {
    @apply h-full m-0 p-0
  }

  /*@layer utilities {*/
  /*  @variants responsive {*/
  /*    !* Chrome, Safari and Opera *!*/
  /*    .no-scrollbar::-webkit-scrollbar {*/
  /*      display: none;*/
  /*    }*/

  /*    .no-scrollbar {*/
  /*      -ms-overflow-style: none;  !* IE and Edge *!*/
  /*      scrollbar-width: none;  !* Firefox *!*/
  /*    }*/
  /*  }*/
  /*}*/
</style>